.tDashboard-container {
  height: 100vh;
  width: 100vw;
  background-color: #c3c3c3;

  display: flex;
  flex-direction: row;
}

.tDashboard-sidebar {
  height: auto;
  width: 18%;
  background-color: #fff;

  border-right: 2px solid #000;
}

.tDashboard-main {
  height: auto;
  width: 70%;

  display: flex;
  flex-direction: row;
}

.tDashboard-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.tDashboard-item__1,
.tDashboard-item__2,
.tDashboard-item__3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 19.9vw;
  margin-bottom: 2rem;

  font-size: 1.3rem;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}

.tDashboard-item__1:hover,
.tDashboard-item__2:hover,
.tDashboard-item__3:hover {
  background-color: #000;
  color: #fff;
  border-radius: 1rem;
}

.tDashboard-main__left {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.tDashboard-main__right {
  width: 20vw;
  margin-right: -5%;
  height: 100vh;
}

.tDashboard-main__right__span {
  display: flex;
  justify-content: start;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: sans-serif;

  margin-top: 4rem;
}

.tDashboard-items__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
}

.tDashboard-item__right__1,
.tDashboard-item__right__2,
.tDashboard-item__right__3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 19.9vw;
  margin-bottom: 0rem;
  margin-left: 9.6rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}

.tDashboard-item__right__1:hover,
.tDashboard-item__right__2:hover,
.tDashboard-item__right__3:hover {
  background-color: #000;
  color: #fff;
  border-radius: 1rem;
}

.cards {
  margin-top: 2rem;
  margin-left: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.schedule__title {
  margin-top: 6rem;
  margin-left: 2rem;

  font-size: 1.5rem;
}
